@font-face {
    font-family: OpenSans;
    src: url('../../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSansBold;
    src: url('../../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSansItalic;
    src: url('../../fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: OpenSansLight;
    src: url('fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSansLightItalic;
    src: url('../../fonts/OpenSans-LightItalic.ttf');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: local('IBM Plex Sans'), local('IBMPlexSans'), url('../../fonts/IBMPlexSans-Regular.woff2') format('woff2');
}
